<div id="books-index">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>Ruby on Rails Power</h3>
            <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/51pBROaN%2BlL._SX403_BO1,204,203,200_.jpg") %>
            <%= link_to "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
           <h3>Ruby on Rails Power</h3>
            <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/51pBROaN%2BlL._SX403_BO1,204,203,200_.jpg") %>
            <%= link_to "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>Ruby on Rails Power</h3>
            <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/51pBROaN%2BlL._SX403_BO1,204,203,200_.jpg") %>
            <%= link_to "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>Ruby on Rails Power</h3>
            <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/51pBROaN%2BlL._SX403_BO1,204,203,200_.jpg") %>
            <%= link_to "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>Ruby on Rails Power</h3>
            <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/51pBROaN%2BlL._SX403_BO1,204,203,200_.jpg") %>
            <%= link_to "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>Ruby on Rails Power</h3>
            <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/51pBROaN%2BlL._SX403_BO1,204,203,200_.jpg") %>
            <%= link_to "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>Ruby on Rails Power</h3>
            <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/51pBROaN%2BlL._SX403_BO1,204,203,200_.jpg") %>
            <%= link_to "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>Ruby on Rails Power</h3>
            <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/51pBROaN%2BlL._SX403_BO1,204,203,200_.jpg") %>
            <%= link_to "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
    </div>
</div>